<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Popcorn.js Build Tool</title>
    <meta name="description" content="A build tool for popcorn.js">
    <meta name="author" content="Christopher De Cairos">
    <link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css" >
  </head>
  </body>
    <div class="container">
      <header>
        <div class="page-header">
          <h1 style="text-align:center;">
            Popcorn.js Build Tool
          </h1>
        </div>
      </header>
      <div class="row">
        <div class="col-md-8 lead">popcorn.js is included by default
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            {% for file in files %}
              <li>
                <label for="{{ file }}" class="checkbox">
                  <input type="checkbox" value="{{ file }}" id="{{ file }}"/>{{ file }}
                </label>
              </li>
            {% endfor %}
            <li>
              <label for="minify" class="checkbox">
                <input type="checkbox" value="minify" id="minify"/>Minify
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div id="output" class="row">
        <div class="col-md-12"><br/>
          <div class="input-group">
            <button type="button" id="get-url" class="btn btn-default">Get URL</button>
            <input type="text" class="col-md-10"/>
            <button type="button" id="download" class="btn btn-default">Download</button>
          </div><br/>
          <h2>Preview:</h2><br/>
          <textarea readonly="true" rows="20" class="col-md-12"></textarea>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/builder.js"></script>
    <script type="text/javascript" src="/bower/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    </script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ GA }}', 'chrisdecairos.ca');
      ga('send', 'pageview');

    </script>
  </body>
</html>
